.header-container {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #171717;
    color: white;
    padding: 1vw 4vw;
    justify-content: space-between;
    box-shadow: 0 0.2vw 0.4vw 0 rgba(0,0,0,0.5);

    & > a {
        & > .header-container__company-name-logo {
            gap: 0.5vw;
            transition: all 0.1s linear;
    
            & > .header-container__company-name-logo__logo {
                width: 1.25vw;
                height: 1.25vw;
                position: relative;
    
                &::before {
                    content: '';
                    position: absolute;
                    offset: 0;
                    width: 100%;
                    height: 100%;
                    background: #004C0C;
                    border-radius: 0.2vw;
                    rotate: 45deg;
                }
                
                &::after {
                    content: '';
                    position: absolute;
                    offset: 0;
                    left: -0.5vw;
                    width: 100%;
                    height: 100%;
                    background: #00AE1C;
                    border-radius: 0.2vw;
                    rotate: 45deg;
                }
            }
    
            & > h1 {
                font-size: 1.1vw;
            }

            &:hover {
                text-decoration: underline;
            }

            &:active {
                scale: 0.95;
            }
        }
    }

    & > .header-container__cart {
        padding: 0.2vw 2.4vw;
        border-radius: 0.2vw;
        gap: 0.5vw;
        position: relative;

        & > button {

            & > img {
                width: 0.7vw;
                height: 0.7vw;
            }

            & > p {
                font-size: 0.8vw;
            }
        }

        & > button {
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
        }

        & > .header-container__cart__new-items-counter {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            border-radius: 50%;
            font-size: 0.57vw;
            font-weight: bold;
            background: #E9ED08;
            color: black;
            width: 1.2vw;
            height: 1.2vw;
            justify-content: center;
            align-items: center;
            display: none;
        }

        & > .header-container__cart__new-items-counter--active {
            display: flex;
        }
    }


}